# Makefile for libsession_manager
# Copyright (C) 2016 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = session_manager

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	init_config.cpp \
	session_manager.cpp \

LIB_EXT_LIB_NAMES = \
	config_reader \
	utils \
