# Makefile for libsession_manager
# Copyright (C) 2016 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system date_time regex

APP_THIRDPARTY_LIBS = -lm

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	utils \
